.row-fluid
  .span12
    .row
      .span6
        .container-fluid.exclaim-signup
          %h1 Welcome to Weighty Plates
          %br/
          %h2 Weighty Plates helps you keep better track of your workout routines by offering features that matters.
          %br/
          %a{href: "#"}
            %h3 I want to try out Weighty Plates
          %br/
          %a{href: "#"}
            %button.btn Sign me up already!

      .span6
        .box
          %h2 Login for returning users
          = form_for(resource, :as => resource_name, :html => {:class => 'form-horizontal'}, :url => session_path(resource_name)) do |f|

            .row
              = f.label :email
              = f.email_field :email

            .row
              = f.label :password
              = f.password_field :password

            .row
              - if devise_mapping.rememberable?
                %label(for="user_remember_me")
                = f.check_box :remember_me
                Remember me

            .row
              = f.submit "Sign in", :class => 'btn-large'
              = link_to "Forgot password?", new_user_password_path


