!!! 5
%html
  %head
    %title Weighty Plates
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand(href="/") Weighty Plates
          .nav-collapse.collapse
            %ul.nav
              - if user_signed_in?
                %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
                %li= link_to 'Edit account', edit_user_registration_path
              - else
                %li= link_to 'Login', new_user_session_path
                %li= link_to 'Sign up', new_user_registration_path

    .container-fluid
      .hero-unit
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield