!!! 5
%html
  %head
    %title Weighty Plates
    %style(id="stylesTest" type="text/css")
    = stylesheet_link_tag "application", :media => "all"

    = javascript_include_tag "application"

    = csrf_meta_tags
  %body
    = render 'shared/navbar'
    .container-fluid.mainbody-container
      .hero-unit
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield