!!! 5
%html
  %head
    = render 'shared/header_tags'
    = stylesheet_link_tag "dashboard/dashboard"
    = include_gon(need_type: true)
    = javascript_include_tag "common"
    = javascript_include_tag "dashboard"
    = csrf_meta_tags
  %body
    = render 'shared/navbar'
    .container-fluid.fix-after1280.mainbody-container

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      = yield