!!! 5
%html
  %head
    %title Weighty Plates
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "main_app"
    = csrf_meta_tags
  %body
    = render 'shared/navbar'
    .container-fluid
      .hero-unit
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield